@medm-ui:registry=https://repo.ihsmarkit.com/artifactory/api/npm/npm-EDM/
//repo.ihsmarkit.com/artifactory/api/npm/npm-EDM/:_auth=dmFtc2lrcmlzaG5hLmJha2thbTpBS0NwOG1ZeHFDSjlGeloyRWdWRlk0NXhvcFdZdmhKNzFlUVg4bkp3OVVMVDZldGFTSzdrRm1uNk5HRlZqeENCc1FSeWlhMXVT
//repo.ihsmarkit.com/artifactory/api/npm/npm-EDM/:email=edmc@ihsmarkit.com

@ilevel:registry=https://repo.ihsmarkit.com/artifactory/api/npm/npm-pcm
email=DL-PCM-DevOps@ihsmarkit.com
always-auth=true
//repo.ihsmarkit.com/artifactory/api/npm/:_auth="cy1wZC1yZXBvLXBjbS1ucG0tZHY6QUtDcDVmVVlrY3ZHUFBXNWpQb3l4Y2JMU3A2YUI2bnNVZFlXanhGTFV5Z2lwYnhaN0JEUDdMM2dkeXlhV0JLWlBrNHZneTQ5OQ=="
